.status {
  display: inline-block;
  color: #bfbfbf;
  position: relative;
  &::before {
    position: absolute;
    left: -11px;
    top: 5px;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #d3d3d3;
  }
  &--online {
    &::before {
      background-color: #00c980;
    }
  }
}